# Python
__pycache__/
*.py[cod]
*$py.class

# Project specific
data/raw/*
!data/raw/.gitkeep
data/preprocessed/*
!data/preprocessed/.gitkeep
data/vectorized/*
!data/vectorized/.gitkeep
data/similarity/*
!data/similarity/.gitkeep
data/clustering/*
!data/clustering/.gitkeep
results/visualization/*
!results/visualization/.gitkeep
results/*
!results/.gitkeep
logs/*
!logs/.gitkeep

# Virtual Environment
venv/*
!venv/Scripts/
!venv/bin/
venv/Scripts/*
!venv/Scripts/activate*
!venv/Scripts/deactivate*
venv/bin/*
!venv/bin/activate*
!venv/bin/deactivate*
venv/Lib/
venv/lib64/
venv/lib/
venv/include/
venv/Include/
venv/pyvenv.cfg
venv/.gitignore
venv/pip-selfcheck.json
