# Python
__pycache__/
*.py[cod]
*$py.class

# Project specific
data/raw/*
!data/raw/.gitkeep
data/preprocessed/*
!data/preprocessed/.gitkeep
data/vectorized/*
!data/vectorized/.gitkeep
data/similarity/*
!data/similarity/.gitkeep
results/visualization/*
!results/visualization/.gitkeep
results/*
!results/.gitkeep
logs/*
!logs/.gitkeep

# Virtual Environment
venv/
env/ 
