requests>=2.31.0
beautifulsoup4>=4.12.2
pandas>=2.1.4
jieba>=0.42.1
numpy>=1.26.2
scikit-learn>=1.3.2
matplotlib>=3.8.2
python-Levenshtein>=0.23.0  # 用于编辑距离计算
gensim>=4.3.2  # 用于 Word2Vec
tqdm>=4.66.1  # 用于进度条显示 
